*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.hero {
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-color: #fce043;
    background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);

}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 4%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #59b9fa41;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    /* color: #fff; */
}
#btn{
    top: 0;
    left: 0px;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff7200,#ffad06);
    border-radius: 30px;
    transition: .5s ;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50% ;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: #fff;
    background: linear-gradient(to right, #ff7200,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.chech-box{
    margin: 30px 10px 30px 0;  
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
     left: 50px;   
}
#register{
    margin-top: -0.8em;
    left: 450px;
}
h5 {
    color: rgb(243, 243, 243);
    position: absolute;
    font-size: 10px;
}

h5 a {
    color: rgb(0, 160, 253);
}
