body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%); */
    /*  background-color: #b1bfd8; */
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
    background-color: #485461; background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

    /* background-image: url(https://images.unsplash.com/photo-1559827260-dc66d52bef19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /* zoom: 150%; */
    /* height: 70vh; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

nav>div{
    display: flex;
    align-items: center;
}

nav>div>div{
    height: 1.3rem;
    width: 1px;
    background-color: #ff7200;
    margin-right: .3em;
}

nav  img{
    width: 2em;
    filter: invert(58%) sepia(93%) saturate(4077%) hue-rotate(2deg) brightness(105%) contrast(104%);
    cursor: pointer;
}

nav span{
    font-size: .7rem;
    font-weight: 500;
    padding: 0.4em 1.4em;
    border: 1px solid #ff7200;
    color: #ff7200;
    border-radius: 5px;
}

nav span:hover{
    background-color: #ff7200;
    color: aliceblue; 
}

.main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
    
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 17em;
    max-width: 25em;
}

.greeting>h1{
    margin: 0em;
}
.greeting>p{
    font-size: .8rem;
    /* color: grey; */
    color: aliceblue;
}

.nutrition_box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    padding: .5em;
    border-radius: 14px;
    overflow: hidden;
    background-color: white;
}

.nutrition_box > h6{
    margin: 0em ;
    margin-bottom: .5em;
    font-weight: 500;
}

.nutrition_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.nutrition_container{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: .9rem;
}

.nutrition_icon{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    /* border: 3px solid #80808047; */
    border-radius: 100%;
    /* padding: 0.6em; */
    margin-right: .6em;
}

.nutrition_icon> div:first-child{
    display: inline;
    position: absolute;
    top: 23%;
    left: 10px;
    background-color: white;
    padding: 0.6em;
    height: 1em;
    width: 1em;
    border-radius: 100%;
}

.nutrition_icon img{
    width: 1em;
    filter: invert(58%) sepia(93%) saturate(4077%) hue-rotate(2deg) brightness(105%) contrast(104%);
}

.add_rounded_icon{
    width: 2em;
    filter: invert(58%) sepia(93%) saturate(4077%) hue-rotate(2deg) brightness(105%) contrast(104%);
    transition: 500ms ease all;
    cursor: pointer;
}

.nutrition_detail{
    height: 0em;
    transition: height 1000ms ease ;
}

.nutrition_detail > p{
    font-size: .8rem;
    color: #ff7200;
}

.nutrition_detail_add{
    display: flex;
    flex-direction: column;
}

.meal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .4em;
}

.meal > span{
    font-size: .8rem;
    font-weight: 500;
}

.meal_cal{
    display: flex;
    align-items: center;
}

.meal_cal > span{
    font-size: .7rem;
}

.meal_cal > img{
    width: .8em;
    padding-top: 0.1em;
    margin-left: 0.4em;
    filter: invert(58%) sepia(93%) saturate(4077%) hue-rotate(2deg) brightness(105%) contrast(104%);   
    cursor: pointer; 
}

.nutrition_detail_progressBtn_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110%;
    background-color: #ff7200;
    color: white;
    margin-top: 1em;
    margin-left: -.5em;
    margin-bottom: -.5em;
    text-align: center;
    cursor: pointer;
}

.nutrition_detail_progressBtn_container>span{
    font-size: .8rem;
    margin-bottom: 0.3em;
}

.nutrition_detail_progressBtn_container>img{
    filter:  brightness(0) invert(1);
    transform: rotate(86deg);
    width: 1.3em;
    margin: .1em 0em;
}

#caloriePie{
    height: 3.2rem;
    width: 3.2rem;
    margin-top: -4px;
}

/* Right side ------------------------>*/

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 1em;
    width: 35%;
    height: 100%;
    padding-top: 5em;
}

.activity_container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 14px;
    padding: .7em;
    width: 5.5em;
    background-color: white;
}

.activity_container>img{
    cursor: pointer;
}

.glass_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .4em;
}

.glass_wrapper>div{
    position: relative;
}

.glass_wrapper>div>div{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 2.8rem;
    width: 2.8rem;
}

.glass_wrapper>div>div>div{
    height: 3.5rem;
    width: 3.5rem;
    margin-bottom: 10px;
}

#glass_icon{
    position: absolute;
    top: -0.5pxpx;
    left: -7px;
    width: 2.3em;
    margin: 0em .5em;
    border-radius: 100%;
    padding: .2em;
    cursor: pointer;
}

#add_glass{
    width: 1em;
    cursor: pointer;
}

#remove_glass{
    width: 1em;
    cursor: pointer;
}

.activity_container >p{
    text-align: center;
    font-weight: 500;
    font-size: .8rem;
    margin: 0%;
    margin-top: .7em;
}

.activity_container>p>span{
    font-weight: 400;
    font-size: .6rem;
}

/* activity icon */
#activity_icon{
    width: 2em;
    padding: .4em;
    display: block;
    margin: auto;
    margin-top: .4em;
    border-radius: 100%;
    filter: invert(58%) sepia(93%) saturate(4077%) hue-rotate(2deg) brightness(105%) contrast(104%);       
    outline: 2px solid #80808047;
}

/* modal */

.modal_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    cursor: pointer;
}

.modal{
    background-color: white;
    border-radius: 14px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: .5em;
    /* margin: 1em 0em; */
    cursor: default;
    /* max-height: 60vh; */
    /* overflow-y: scroll; */
}