.profile_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    width: 17em;
}

.profile_wrapper input, select{
    font-family: inherit;
    font-size: 0.8rem;
    padding: 1em;
    border: none;
    border-radius: 0.5rem;
    background: #eee;
    font-weight: 500;
}

.profile_wrapper input:focus, select{
    outline-color: #ff7200;
}

.profile_name{
    display: flex;
    justify-content: space-between;
    grid-gap: 0.5em;
}

.profile_name>input{
    width: 100%;
}

.profile_gender{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 0.5em;
    margin: 1em 0em;
}

.profile_gender>input{
    display: none;
}


.gender_label{
    padding: 0.4em 1.4em;
    border: 1px solid #ff7200;
    border-radius: 8px;
}

.profile_gender>input[type="radio"]:checked + .gender_label{
    color: white;
    background-color: #ff7200;
}

.profile_info{
    display: flex;
    flex-direction: column;
    grid-gap: 0.5em;
    width: 100%;
}

#profile_save_btn{
    color: #ff7200;
    border: 1px solid #ff7200;
    border-radius: 7px;
    padding: 0.4em 2.5em;
    margin-top: 1em;
}

#profile_save_btn:hover{
    color: white;
    background-color: #ff7200;
}