.sleep_wrapper{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

/* sleep */

.daily_sleep_container{
    display: flex;
    flex-direction: column;
}

.daily_sleep_container>p{
    margin-bottom: 0px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #ff7200;
}

.daily_sleep_container>div{
    font-size: 0.8rem;
}

.daily_sleep_container>div>p>span{
    color: #ff7200;
    font-weight: 500;
}

.daily_sleep_container>span{
    color: #ff7200;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.4em 1.4em;
    border: 1px solid #ff7200;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;
}

.daily_sleep_container>span:hover{
    color: white;
    background-color: #ff7200;
}

/* sleep reminder */
.sleep_reminder_wrapper>div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
}

.sleep_reminder_wrapper>div:first-child>p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #ff7200;
}

.sleep_reminder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    padding-right: 1em;
}

.sleep_reminder>p{
    margin: 0px;
    margin-bottom: 0.5em;
}

.sleep_reminder>span{
    color: #ff7200;
    font-weight: 500;
    cursor: pointer;
}
